body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.custom-slider {
  margin-left: 25px;
}
.custom-controller {
  height: 100vh;
  border-right: 1px solid silver;
}
.componentBox{
  display: flex;
  width: 100%;
}
.up{
  margin-bottom: 20px;
}
.down{
  width: 100%;
  margin-top: 5%;
}